@inherits LayoutComponentBase
@inject HttpClient Http
@inject GoldReportService ReportService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<span class="ml-md-auto">Report issues to Neffer</span>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var transactions = await Http.GetFromJsonAsync<FrozenGold.Web.Services.TransactionHistory>("api/transactions");
        var ds = new FrozenGold.Web.Services.DataSource(transactions);
        var report = new GoldReport(ds);
        report.BuildReport();

        ReportService.Report = report;
    }
}