<div class="card border-info">
    <div class="card-body">
        <h5 class="card-title">Rates</h5>
        <h6 class="card-subtitle mb-2"><strong>@Tariff.Amount.ToString() due each raid reset</strong></h6>
        <p class="card-text">Donations must be sent to Frozengold from your main or alt within the guild to be tracked. Donations sent elsewhere or from outside the guild will not be tracked</p>
        <p class="card-text">Frozengold is only for the weekly fee and not for any other donations such as alt raid payments</p>
    </div>
</div>

@code {
    [Parameter]
    public TariffItem Tariff { get; set; }
}
