@page "/logs"
@inject GoldReportService ReportService

<h1>All Transactions</h1>

@if (ReportService.Report == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Transaction t in ReportService.Report.AllTransactions.OrderBy(tx => tx.WhenServerTime))
                {
                    <tr>
                        <td>@t.PlayerFrom</td>
                        <td>@t.PlayerTo</td>
                        <td>@t.Amount</td>
                        <td>@t.WhenServerTime.ToString("D")</td>
                    </tr>
                }
        </tbody>
    </table>
}

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ReportService.ReportUpdated += (s, e) => this.StateHasChanged();
    }
}
